body {
  font-family: 'Open Sans', sans-serif,Arial, Helvetica, sans-serif;
}

a {
  text-transform: none;
}

p {
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  color: #ffffff;
  background: transparent;
  border: 3px solid #ffffff;
  border-radius: 3px;
  display: inline-block;
  padding: 22px 60px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.wrap-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo {
  text-align: center;
  color: #ffffff;
  position: relative;
}

.promo .textwrap {
  position: absolute;
  top: 50%;
  left: 25%;
}

.promo .textwrap h1 {
  font-size: 66px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.promo .textwrap p {
  font-size: 28px;
  line-height: 1.2;
}

.promo .promo_image img {
  width: 100%;
}

footer {
  background: #7690c5;
  padding-top: 100px;
  padding-bottom: 36px;
  color: #ffffff;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

.menu_item {
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #404040;
  border-bottom: #e2e2e3;
}

.menu_item:hover {
  background: #ffffff;
  box-shadow: inset -3px 0px 0px 0px #ffffff;
}

.menu_item::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5.5px 0 5.5px 6px;
  border-color: transparent transparent transparent #e8e681;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 89px;
  padding-bottom: 98px;
}

.skills .skill {
  max-width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skill .fa {
  color: #ffffff;
  background: #222222;
  border-radius: 50%;
  font-size: 39px;
  width: 79px;
  height: 79px;
  padding: 19px 0;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.client_block {
  background: #fafafa;
  text-align: center;
  padding-top: 102px;
  padding-bottom: 96px;
}

.client_block .title_block {
  text-align: center;
}

h3 {
  font-size: 54px;
  color: #222222;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
}

h3 span {
  font-weight: bold;
}

.client_box img {
  border-radius: 50%;
}

.title_block p {
  color: #777777;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}

.team_block {
  background: #111111;
  padding-top: 105px;
  padding-bottom: 108px;
}

.team_block h3, .team_block .title_block p {
  color: #ffffff;
}

.team_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team_person_wrap img {
  border-radius: 50%;
}
