body {
  font-family: 'Open Sans', sans-serif,Arial, Helvetica, sans-serif;
}

a {
  text-transform: none;
}

p {
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.btn {
  color: #ffffff;
  background: transparent;
  border: 3px solid #ffffff;
  border-radius: 3px;
  display: inline-block;
  padding: 22px 60px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 240px;
}

.wrap-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 700px) {
  .wrap-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

header {
  padding-top: 50px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  color: #ffffff;
}

@media (max-width: 700px) {
  header {
    padding-left: 5%;
    padding-right: 5%;
  }
}

header .logo {
  position: absolute;
  color: #ffffff;
}

header .logo a {
  background: url("../images/Logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 139px;
  height: 28px;
  display: inline-block;
}

/****************menu*****************/
.navigate {
  text-align: right;
}

@media (max-width: 700px) {
  .navigate {
    width: 100%;
  }
}

.navigate li {
  display: inline-block;
}

@media (max-width: 700px) {
  .navigate li {
    display: block;
    text-align: center;
  }
}

.navigate ul a {
  display: block;
  text-decoration: none;
  margin-right: 30px;
  color: #ffffff;
}

.navigate ul a:hover {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 3px;
}

@media (max-width: 700px) {
  .navigate ul a {
    padding: 20px;
    border-bottom: none;
    color: #222222;
  }
  .navigate ul a:hover {
    color: #777777;
    padding-bottom: 20px;
  }
}

.menu-trigger {
  text-align: right;
  display: none;
}

@media (max-width: 700px) {
  .menu-trigger {
    display: block;
  }
}

.menu-trigger .fa-bars {
  font-size: 30px;
  color: #fff;
}

@media (max-width: 700px) {
  .navigate ul {
    display: none;
    background: #ffffff;
    padding-bottom: 10%;
  }
}

.promo {
  text-align: center;
  color: #ffffff;
}

.promo .slider_item {
  position: relative;
}

.promo .slider_item .textwrap {
  position: absolute;
  top: 35%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .promo .slider_item .textwrap {
    left: 5%;
  }
}

.promo .slider_item .textwrap h1 {
  font-size: 66px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

@media (max-width: 700px) {
  .promo .slider_item .textwrap h1 {
    font-size: 35px;
  }
}

.promo .slider_item .textwrap p {
  font-size: 28px;
  line-height: 1.2;
}

.promo .slider_item .promo_image img {
  width: 100%;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 89px;
  padding-bottom: 98px;
}

@media (max-width: 700px) {
  .skills {
    padding-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 396px;
  padding-left: 0;
}

@media (max-width: 700px) {
  .skills .skill {
    margin-bottom: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 900px) {
  .skills .skill {
    padding-right: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 300px;
  }
}

.skills .skill .fa {
  color: #ffffff;
  background: #222222;
  border-radius: 50%;
  font-size: 39px;
  width: 79px;
  height: 79px;
  padding: 19px 0;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 20px;
}

.skill:nth-child(2n+1) {
  padding-right: 90px;
}

@media (max-width: 700px) {
  .skill:nth-child(2n+1) {
    padding: 0;
  }
}

@media (max-width: 900px) {
  .skill:nth-child(2n+1) {
    padding: 15px;
  }
}

.partner_block {
  margin: 60px;
}

.partner_block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.partner_block .container img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.5;
}

@media (max-width: 900px) {
  .partner_block .container img {
    padding: 5%;
  }
}

.partner_block .container img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
}

.client_block {
  background: #fafafa;
  text-align: center;
  padding-top: 102px;
  padding-bottom: 96px;
}

@media (max-width: 700px) {
  .client_block {
    padding: 50px 5px;
  }
}

.client_block .wrap-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.client_block .title_block {
  text-align: center;
}

h3 {
  font-size: 54px;
  color: #222222;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

@media (max-width: 700px) {
  h3 {
    font-size: 34px;
  }
}

h3 span {
  font-weight: bold;
}

.client_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 700px) {
  .client_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.client_box img {
  border-radius: 50%;
}

.client_box:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 700px) {
  .client_box:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

blockquote {
  border: 1px solid #f3f3f3;
  background: #ffffff;
  position: relative;
  padding-top: 44px;
  box-sizing: border-box;
  padding-left: 85px;
  padding-right: 105px;
}

@media (max-width: 700px) {
  blockquote {
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

blockquote span {
  content: '';
  position: absolute;
  background: url("../images/arrow_cite.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 21px;
  height: 26px;
  top: 40%;
}

blockquote p.quote {
  font-size: 20px;
  color: #777777;
  line-height: 1.4;
  text-align: center;
}

@media (max-width: 700px) {
  blockquote p.quote {
    font-size: 16px;
  }
}

blockquote .name_client a {
  text-decoration: none;
  font-size: 16px;
  color: #7690c5;
  line-height: 2.25;
  text-align: center;
}

.left-arrow {
  left: -21px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

blockquote span.right_arrow {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  right: -21px;
}

.client_box:first-child {
  padding-bottom: 41px;
}

.title_block .title_relation {
  color: #777777;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 55px;
}

.team_block {
  background: #111111;
  padding-top: 105px;
  padding-bottom: 108px;
}

.team_block h3 {
  margin: 0;
  color: #ffffff;
}

.title_block p.title_description {
  margin-top: 22px;
  color: #777777;
}

.team_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team_person_wrap {
  margin: 0 26px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.team_person_wrap img {
  border-radius: 50%;
  border: 7px solid #ffffff;
  box-sizing: border-box;
}

.contact_person_team {
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
}

.contact_person_team a {
  border-radius: 50%;
  border: 3px solid #ffffff;
  display: inline-block;
  width: 41px;
  height: 41px;
  box-sizing: border-box;
}

.contact_person_team a .fa {
  font-size: 18px;
  display: inline-block;
  padding: 10px 0;
}

.title_block {
  text-align: center;
}

.title_block p.description {
  color: #ebebeb;
  max-width: 580px;
  margin: 0 auto;
}

p.name_team_person {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding-top: 22px;
}

p.appointment {
  color: #ebebeb;
  font-size: 14px;
  padding-top: 10px;
}

footer {
  background: #7690c5;
  padding-top: 100px;
  padding-bottom: 36px;
  color: #ffffff;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  footer {
    padding: 3% 2% 3%;
  }
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

.contact {
  max-width: 456px;
  width: 100%;
  margin-right: 50px;
}

@media (max-width: 700px) {
  .contact {
    margin-right: 0;
  }
}

.contact h4 {
  margin: 0;
}

.contact h4 a {
  font-size: 54px;
  color: white;
  line-height: 1.2;
  text-align: left;
  font-weight: normal;
}

.contact span {
  font-weight: bold;
}

.contact p.appeal_text {
  margin-top: 35px;
  margin-bottom: 55px;
  font-size: 14px;
  color: white;
  line-height: 1.6;
  text-align: left;
}

@media (max-width: 900px) {
  .contact p.appeal_text {
    margin-bottom: 25px;
  }
}

.contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .social a {
  margin-bottom: 40px;
  display: block;
}

@media (max-width: 900px) {
  .contact .social a {
    margin-bottom: 10px;
  }
}

.contact .social a span {
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
}

.contact .social .fa {
  width: 47px;
  height: 29px;
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
}

.contact .social .fa-mobile {
  font-size: 40px;
}

.columns:first-child {
  margin-right: 30px;
}

.user-form {
  max-width: 456px;
}

input, textarea {
  max-width: 456px;
  min-width: 280px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  margin-bottom: 29px;
}

input::-webkit-input-placeholder {
  font-size: 16px;
  color: #cccccc;
}

textarea {
  height: 210px;
}

.project-author {
  margin: 100px 0 0;
  text-align: center;
  border-top: 1px solid #87a0d2;
  padding: 32px 0 0;
}

@media (max-width: 900px) {
  .project-author {
    padding: 2% 0 0;
    margin: 5% 0 0;
  }
}
