.skills
  display: flex
  flex-wrap: wrap
  flex-direction: row
  padding-top: 89px
  padding-bottom: 98px
  .skill
    max-width: 48%
    display: flex
    align-items: center
    .fa
      color: $accent
      background: $point
      +radius
      font-size: 39px
      width: 79px
      height: 79px
      padding: 19px 0
      text-align: center
      display: inline-block
      box-sizing: border-box



.client_block
  background: $client
  text-align: center
  padding-top: 102px
  padding-bottom: 96px

  .title_block
    text-align: center
h3
  font-size: 54px
  color: $point
  line-height: 1.2
  font-weight: normal
  text-align: center
  span
    font-weight: bold
.client_box
  img
    +radius
.title_block p
      color: $main
      font-size: 18px
      line-height: 1.2
      text-align: center
.team_block
  background: #111111
  padding-top: 105px
  padding-bottom: 108px

.team_block
  h3, .title_block p
    color: $accent
.team_wrap
  display: flex

.team_person_wrap
  img
    +radius



