$accent: #ffffff
$client: #fafafa
$point: #222222
$main: #777777

body
  font-family: 'Open Sans', sans-serif,Arial, Helvetica, sans-serif

a
  text-transform: none
p
  margin: 0

.container
  max-width: 940px
  margin: 0 auto
  width: 100%

.btn
  color: $accent
  background: transparent
  border: 3px solid $accent
  border-radius: 3px
  display: inline-block
  padding: 22px 60px
  text-decoration: none
  text-transform: uppercase
  text-align: center
  width: 240px

.wrap-flex
  display: flex
  +tablet
    flex-wrap: wrap










