block footer
   footer
      .container
         .wrap-flex
            .contact
               h4
                  a(href="#") Say
                     span Hello
               p Don’t be shy, drop us an email and say hello! We are a really nice bunch of people :)
               .social
                  a(href="#")
                     i

            .user-form
               input(type="text")
               input(type="email")
               textarea
         .project-author © 2014 Escape by FreebiesXpress • Made In Toronto



