block header
	.container
		.top-panel
			.logo
				a(href="#")
					//i(class="fa fa-paper-plane" aria-hidden="true")
					//img(src="" width="202" height="23" alt="logo Fashionpress")

			nav(class="navigate")
				.menu
					each item in nav_items
						a(href="#").nav_items= item
