block header
	.container
		.top-panel
			.logo
				a(href="#")
					//i(class="fa fa-paper-plane" aria-hidden="true")
					//img(src="" width="202" height="23" alt="logo Fashionpress")

			nav(class="navigate")
				a(href="#" class="menu-trigger")
					i(class="fa fa-bars" aria-hidden="true")
				//a(href="#").button--toggle
				ul.menu
					each item in nav_items
						li
							a(href="#").nav_items= item
