block promo
.promo
   div.promo_image
      img(src="uploads/promo.jpg" width="1200" height="620" alt="city")
      .container
         .textwrap
            p Can you build the website of my dreams?
            h1 Yup, we can do that.
            button.btn Learn More






